html
{
	scroll-behavior: smooth;
}
	

body 
{
    margin: 0;
	padding: 0;
	background-color:	#719664;
	
}  

.parallax1 
{
     background-image: url('mainpage.jpeg');
    height: 100vh; 
	width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}


.parallax2 
{
	background-image: url('https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg');
    height: 100vh; 
	width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.container {
    display: flex; /* Use Flexbox for layout */
    margin: 20px 0; /* Add margin for spacing */
}

.img
{
    border: 3px solid black; /* Specify the border style */
    width: 300px; /* Set image width */
    height: 305px; /* Set image height */
    margin-right: 20px; /* Space between the image and text */
}

.name
{
    text-align: center;
    margin: 40px 0;
    border-width: 3px; 
    border-style: groove; 
    border-color: white; 
    padding: 40px; 
}

.projects
{
	text-align: center;
    margin: 40px 0;
    border-width: 3px; 
    border-style: groove; 
    border-color: white; 
    padding: 20px; 
}


.introduction {
    display: flex; /* Use Flexbox for the introduction section */
    align-items: flex-start; /* Align items at the start */
}

.introduction p {
    flex: 1; /* Allow paragraph to take up remaining space */
    font-style: italic;
    font-size: 20px;
    font-family: Monaco, monospace; /* Added a fallback font */
    text-align: left; /* Align text to the left */
}


.footer 
{
    text-align: center;
    margin: 20px 0;
	background-color: beige;
	height: 100px;
	padding: 100px;
	justify-content: center;
	display: flex;
	align-items: center;
}


h1 
{
    font-family:times new roman; 
    font-size: 69px; 
	
}

.main
{
	
	font-size: 20px;
	font-family: courier new;
	color: #90AEAD;
	text-decoration: none;
	text-align: center;
	
}

.main:hover
{
	text-decoration: underline;
	color: #88B04B;
}

.link
{
	font-size: 30px;
	font-family: courier new;
	color: #90AEAD;
	margin: 0 50px;
	text-decoration: none;
}

.link:hover
{
	text-decoration: underline;
	color: #88B04B;
}

@media (max-width: 768px) 
{
    h1 
	{
        font-size: 28px; 
    }

 

    .parallax1, .parallax2 {
        height: 90vh; 
    }
}

